nav{
  background-color: bisque;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav a{
  text-decoration: none;
  color: black;
}
.isActive{
  background-color: red;
}